body{
    margin: 0;
    padding: 0;
  }
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 50px;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links li a:hover {
    text-decoration: underline;
  }
  .navbar h1 {
    margin: 0;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links li a:hover {
    color: #f0f0f0;
  }
  
  
  .option-button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #075e54;
    color: #fff;
    cursor: pointer;
  }
  
  /* Messaging Section styles */
  .messaging-section {
    padding: 20px 0;
  }
  
  .message-container {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
  }
  
  .message .user {
    font-weight: bold;
  }
  
  .message .time {
    font-size: 0.8em;
    color: #666;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-message {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #128c7e;
    color: #fff;
    cursor: pointer;
  }
  /* Footer Styles */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
  
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  
  }